/* General Stuff */

:root {
    /* Page Variables Here */
    /* Colors: Type (default, instagram, discord), then Bright, Dark, and Font */
    --dfB: #cecece;
    --dfD: #747474;
    --dfF: #ffffff;
    --igB: #e90f99;
    --igD: #730994;
    --igF: #e6cbe1;
    --dcB: #5865f2;
    --dcD: #36393f;
    --dcF: #edeef8;
    --grad: linear-gradient(to right, var(--igB), var(--dcB));
    /* <!> --art: */
}

* {
    box-sizing: border-box;
}


/* GOTTA FIX THIS THEMING STUF, PROB AFTER ALL CONTENT IS IN */
body {
    background: var(--dfD);
}

/* Themes */
.df-theme {
    background-color: var(--dfD)
}

.ig-theme {
    background-color: var(--igD);
}

.dc-theme {
    background-color: var(--dcD);
}

/* Header customization for opening title */
h1 {
    font-style: oblique;
    font-size: xx-large;
}

h2 {
    font-style: oblique;
    font-size: x-large;
}

h3 {
    font-style: normal;
    font-size: larger;
}

/* Padding for images */

img {
    padding: 10px;
    max-width: 400px;
    max-height: 400px;
}

/* Narrator - the tour guide/page talking, div objects with mainly text */
.nar {
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
    color: white;
    overflow-wrap: break-word;

    position: relative;

    width: fit-content;
    max-width: 90vw;

    margin: -2px;
    padding: 10px;
    padding-top: 0px;
    padding-bottom: 0px;

    border-style: solid;
    border-radius: 5px;
    border-width: 2px;
    border-color: white;

    background-color: darkgray;
}

/* Response - where user interacts, div objects with stuff in them */
.res {
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
    color: white;
    overflow-wrap: break-word;

    width: fit-content;
    max-width: 90vw;

    margin: -2px;
    margin-bottom: 20px;
    padding: 10px;

    float: right;
    white-space: nowrap;

    border-style: solid;
    border-radius: 5px;
    border-width: 2px;
    border-color: white;

    background-color: darkgray;
}

.starter {
    margin-top: 20px;
    clear: both;
}

.finisher {
    margin-bottom: 20px;
}


/* Specific Stuff  */

/* Front Page */
    #title-container {
        background: var(--grad);
        position: relative;

        left: 0px;
        top: 0px;

        margin: 0px;
        padding: 10px;
        height: calc(100vh - 20px);

        border-style: solid;
        border-width: 5px;
        border-radius: 15px;
        border-color: white;

        /* For the text */
        color: white;
        font-family: Arial, Helvetica, sans-serif;
        text-align: center;
        overflow: hidden;
    }

    .title-text {
        position: relative;
                
        margin: 0px;
        padding: 2px;

        /*border-color: white;
        border-style: solid;*/
    }

    #author {
        position: absolute;
        
        bottom: 0px;
        left: 0px;
        
        margin: 0px;
        height: 5%;
        min-height: 30px;
        width: 100%;

        /*border-color: white;
        border-style: solid;*/
    }

    /*
    #overview-container {
    }*/

    .row {
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        width: 100%;
    }

    .flex-text {
        width: 40vw;
        max-width: 400px;
        max-height: 400px;

        margin: 10px;
        margin-right: calc(5px + 1vw);
        padding: 5px;

        border-style: solid;
        border-width: 5px;
        border-radius: 15px;
        border-color: white;

        color: white;
        font-family: Arial, Helvetica, sans-serif;
        font-weight: bolder;

        font-size: large;
    }

    .flex-img {
        width: 40vw;
        max-width: 400px;
        max-height: 400px;

        margin: 10px;
        margin-left: calc(5px + 1vw);
        padding: 5px;

        border-style: solid;
        border-width: 5px;
        border-radius: 15px;
        border-color: white;
    }

    .cover-graphic {

        width: 80vh;
        height: 60vh;
        max-width: 60vw;
        max-height: 45vw;

        margin: 0px;
        margin-left: calc(5px + 1vw);
        padding: 0px;
        align-self: center;

    }

    .cover-arrow {

        position: relative;
        
        bottom: 0px;
        left: 0px;
        
        text-align: center;
        
        margin: 0px;
        height: 100px;
        min-height: 30px;
        width: 100px;

        /*border-color: white;
        border-style: solid;*/

    }

/* Other Pages */
    #section-container {
        --titleBgDisplaying: var(--grad);
        background-image: var(--titleBgDisplaying);
        position: relative;

        left: 0px;
        top: 0px;

        margin: 0px;
        padding: 10px;
        height: calc(25vh);

        border-style: solid;
        border-width: 5px;
        border-radius: 15px;
        border-color: white;

        /* For the text */
        color: white;
        font-family: Arial, Helvetica, sans-serif;
        text-align: center;
    }